<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" id="" placeholder="Your Name" required>
    <input type="email" name="email" id="" placeholder="Your Email" required>
    <input type="password" name="password" id="" placeholder="Password" required>
    <input type="password" name="confirm_password" id="" placeholder="Confirm Password" required>

    <input type="submit" value="Sign Up">
</form>